.nav{
    grid-area: n;
  background-color:peru;
  padding: 20px;
  font-size: 18px;
  font-style: italic;
  
  }
  .item a{
    color: white;
    text-decoration: none;

  }
  .item a.active{
    color: skyblue;
  }