
  .wrapper{
    margin-top:16px;
    background: white;
      color: green;
      padding:8px;
      border-radius:5px;

  }
  .wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }
  .message{
    
    margin-left:42px;
  }